# Default ignored files
/shelf/
/.idea/workspace.xml
*/.settings/
*/target/
*/.classpath
*/.project

!/.idea/
/.idea/.gitignore
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
