<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Bean declarations go here -->

    <bean id="kenny" class="com.study._002.entity.Instrumentalist"
          p:song="May Rain"
          p:instrument-ref="piano"/>
<!--        <property name="song" value="May Rain"/>-->
<!--        <property name="instrument" ref="piano"/>-->
<!--        <property name="instrument" >-->
<!--            <bean class="com.study._002.entity.Piano"/>-->
<!--        </property>-->
<!--    </bean>-->

    <bean id="piano" class="com.study._002.entity.Piano"/>

    <bean id="saxophone" class="com.study._002.entity.Saxophone"/>
    <bean id="guitar" class="com.study._002.entity.Guitar"/>

    <bean id="hank" class="com.study._002.entity.OneManBan">
        <property name="instruments">
            <list>
                <ref bean="saxophone"/>
                <ref bean="piano"/>
                <ref bean="guitar"/>
            </list>
        </property>
    </bean>


    <bean id="hank2" class="com.study._002.entity.OneManBan2">
        <property name="instruments">
            <map>
                <entry key="saxophone" value-ref="saxophone"/>
                <entry key="piano" value-ref="piano"/>
                <entry key="guitar" value-ref="guitar"/>
            </map>
        </property>
    </bean>


    <bean id="hank3" class="com.study._002.entity.OneManBan3">
        <property name="instruments">
            <props>
                <prop key="saxophone" >play the saxophone</prop>
                <prop key="piano">play the piano</prop>
                <prop key="guitar">play the guitar</prop>
            </props>
        </property>
    </bean>



</beans>