<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Bean declarations go here -->

<!--    <bean id="duke" class="com.study.bean.Juggler" c:beanBags="15">-->
    <bean id="duke" class="com.study._001.bean.Juggler" c:_0="15">
<!--        <constructor-arg value="15" />-->
    </bean>
    <bean id="deceivedByLife" class="com.study._001.bean.DeceivedByLife"/>

    <bean id="poeticDuke" class="com.study._001.bean.PoeticJuggler">
        <constructor-arg value="15"/>
        <constructor-arg ref="deceivedByLife"/>
    </bean>

    <bean id="stage" class="com.study._001.bean.Stage" factory-method="getInstance"/>

<!--    <bean id="ticket" class="com.study.bean.Ticket" scope="prototype"/>-->

    <bean id="light" class="com.study._001.bean.Light"
          init-method="turnOnTheLight" destroy-method="turnOffTheLight"/>


</beans>